<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/public/style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class='container'>
      <h1>freeCodeCamp Backend Projects</h1>
      <h2>URL Shortener Microservice</h2>
      <p><strong>User Story</strong></p>
      <ul>
        <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
        <li>When I visit that shortened URL, it will redirect me to the original link.</li>
      </ul>
      <p>Example creation usage:</p>
      <code>https://utopian-music.glitch.me/new/https://www.google.com<br>
https://utopian-music.glitch.me/new/http://foo.com:80</code>
      <p>Example creation output:</p>
      <code>{"original_url":"https://www.google.com","short_url":"http://utopian-music.glitch.me/SyQo2Nr2z"}</code>
      <p>Usage:</p>
      <code>http://utopian-music.glitch.me/SyQo2Nr2z</code>
      <p>Redirects to:</p>
      <code>https://www.google.com/</code></li>
      </ul>
    </div>
  </body>
</html>